body {
    background-color: #F1F5F9;
    color: #555;
}


header {
    background-color: white;
    padding: 0.8rem 1.4rem;
    min-width: 767px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li {
    display: inline-block;
    margin: 0 1.4rem;
}

ul li a {
    color: #333;
    text-decoration: none;
}


.card {
    background-color: white;
    padding: 2.5rem;
    max-width: 16rem;
    border-radius: 10px;
    height: 350px;
    display: grid;
    align-content: space-between;
}


img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
}

