{% extends "movie_reviews/base.html" %}

{% block content %}
<div class="flex justify-center">
    <div class="block max-w-md p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-100">
        <h5 class="font-semibold text-lg mb-2">Sign Up</h5>
        {% if error %}
        <div class="">
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-400 dark:text-red-400" role="alert">
                <span class="font-medium">{{ error }}</span>
              </div>
        </div>
        {% endif %}
    
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
        <button type="submit" class="btn">Sign Up</button>
        </form>
    </div>
</div>


{% endblock %}