{% extends 'movie_reviews/base.html' %}
{% block content %}
<div class="container flex justify-center">
    <div class="container mx-8 my-8">
        <div class="grid grid-cols-2">
            <div class="max-w-md">
                <img src="{{ movie.image.url }}">
                <div class="">
                    <h5 class="font-bold">{{ movie.title }}</h5>
                    <p class="bg-gray-200">{{ movie.description }}</p>
                {% if movie.url %}
                    <a href="{{ movie.url }}">Movie Link</a>
                {% endif %}
                {% if user.is_authenticated %}
                <a href="{% url 'createreview' movie.id %}" class="px-4 py-2 border-solid rounded-md border-2 text-white bg-slate-700 shadow-lg">
                    Add Review
                </a>
                {% endif %}
                </div>
                <br>
                <br>
                <h3 class="font-bold">Reviews</h3>
                <br>
                <ul class="grid grid-cols-1 divide-y divide-solid  divide-gray-800 ">
                    {% for review in reviews %}
                        <li class="mt-4">
                            <h5>
                                Review by {{review.user.username}}
                            </h5>
                            <h6>
                                {{review.date}}
                            </h6>
                            <p>
                                {{review.text}}
                            </p>
                        </li>

                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}