{% extends 'movie_reviews/base.html' %}
{% block content %}
<div class="container flex flex-grow max-w-md mx-4 my-4">
    <form>
    <input type="text" class="input input-bordered w-full max-w-xs" name="searchMovie" >
    <button type="submit" class="btn">Search</button>
    <p class="font-bold text-lg">Searching for: {{ searchTerm }}</p>
    <!-- <label class="form-label">Searching for {{ searchTerm }}</label> -->
    </form>
</div>
<br>

<div class="container grid grid-cols-4 gap-x-4 mx-4 my-8">
    {% for movie in movies %}
    <div class="max-w-sm rounded overflow-hidden shadow-lg ">
        <img class="w-full" src="{{ movie.image.url }}">
        <div class="px-6 py-4">
            <a href="{% url 'detail' movie.id %}">
                <h5 class="font-bold text-xl mb-2">{{ movie.title }}</h5>
            </a>
            <p class="text-gray-700 text-base">{{ movie.description }}</p>
        {% if movie.url %}
            <a href="{{ movie.url }}">Movie Link</a>
        {% endif %}
        </div>
    </div>
{% endfor %}
</div>

{% endblock content %}