{% extends 'base.html' %}
{% block content %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="card">
                <img src="{{ movie.image.url }}">
                <div class="card-body">
                    <h5 class="card-title fw-bold">{{ movie.title }}</h5>
                    <p class="card-text">{{ movie.description }}</p>
                {% if movie.url %}
                    <a href="{{ movie.url }}">Movie Link</a>
                {% endif %}
                </div>
            </div>
        </div>
{% endblock content %}