{% extends 'base.html' %}
{% block content %}
<div class="container flex max-w-md mx-8 my-8">
    <form>
        <input type="text" class="px-4 py-2 flex-grow border-solid rounded-md border-4 shadow-lg" name="searchMovie" >
        <button type="submit" class="px-4 py-2 border-solid rounded-md border-2 text-white bg-slate-700 shadow-lg">Search</button>
        <p class="mt-4 font-bold text-lg">Searching for: {{ searchTerm }}</p>
        <!-- <label class="form-label">Searching for {{ searchTerm }}</label> -->
    </form>

    <br>
</div>

<div class="container grid grid-cols-4 gap-x-4 mx-8 my-8">
    {% for movie in movies %}
    <div class="max-w-sm rounded overflow-hidden shadow-lg ">
        <img class="w-full" src="{{ movie.image.url }}">
        <div class="px-6 py-4">
            <a href="{% url 'detail' movie.id %}">
                <h5 class="font-bold text-xl mb-2">{{ movie.title }}</h5>
            </a>
            <p class="text-gray-700 text-base">{{ movie.description }}</p>
        {% if movie.url %}
            <a href="{{ movie.url }}">Movie Link</a>
        {% endif %}
        </div>
    </div>
{% endfor %}
</div>

{% endblock content %}