{% extends 'base.html' %}
{% block content %}
        <form>
            <div class="mb-3">
              <label class="form-label">Search:</label>
              <input type="text" class="form-control" name="searchMovie" >
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <!-- <label class="form-label">Searching for {{ searchTerm }}</label> -->
        </form>
        <br>
        <p>Searching for: {{ searchTerm }}</p>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for movie in movies %}
                <div v-for="movie in movies" class="col">
                    <div class="card">
                        <img src="{{ movie.image.url }}">
                        <div class="card-body">
                            <a href="{% url 'detail' movie.id %}">
                                <h5 class="card-title fw-bold">{{ movie.title }}</h5>
                            </a>
                            <p class="card-text">{{ movie.description }}</p>
                        {% if movie.url %}
                            <a href="{{ movie.url }}">Movie Link</a>
                        {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock content %}